/* unvisited link */
a:link {
    color: grey;
    font-size: 44;
}

/* mouse over link */
a:hover {
    
}

/* Rectangle placeholder for products */
.product-placeholder-img {
    background-color: #D9D9DD;
    width: 250px;
    height: 200px;
}

.product-icon-img {
    background-color: #D9D9DD;
    width: 100px;
    height: 100px;
}

.card-title, .card-description, .card-price {
    text-align: left;
    padding-left: 5%;
}

.col-md-4 {
.card-body {
    text-align: left;
    padding: 30px;
}

.col-lg-4 {
    margin-bottom: 40px;
}
