/* unvisited link */
a:link {
    color: grey;
    font-size: 44;
}

/* mouse over link */
a:hover {
    
}

/* Rectangle placeholder for products */
.product-placeholder-img {
    background-color: #D9D9DD;
    width: 200px;
    height: 200px;
}

.product-icon-img {
    background-color: #D9D9DD;
    width: 100px;
    height: 100px;
}

.col-md-4 {
    margin-bottom: 40px;
}
