/* unvisited link */
a:link {
    color: grey;
    font-size: 44;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* Rectangle placeholder for products */
.product-placeholder-img {
    background-color: #D9D9DD;
    width: 250px;
    height: 200px;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.main-page-card {
    margin-bottom: 30px;
}

.inner-card {
    padding-left: 20px;
}

.product-bg-img {
    background-color: #D9D9DD;
    width: 400px;
    height: 400px;
}

.product-price-tag {
    background-color: #2a2a2aff;
    width: 100%;
    height: 100%;
}

.general-box-background {
    background-color: #3b3b3bff;
}

.card-title, .card-description, .card-price {
    text-align: left;
    padding-left: 5%;
}

.product-icon-img {
    background-color: #D9D9DD;
    width: 100px;
    height: 100px;
}

.card-title, .card-description, .card-price {
    text-align: left;
    padding-left: 5%;
}

.logout-btn, .logout-btn:hover {
    color: #D51D00;
    border-color: #D51D00;
    margin-left: 30px; 
}

.logout-btn:hover,.logout-btn:active {
    background-color: #2F394C;
    border-color: #D51D00; 
}

.login-btn:hover {
    background-color: #2F394C;
    border-color: #BC75E8; 
}

.login-btn {
    color: #BC75E8;
    border-color: #BC75E8;
    background-color: #2F394C;
    margin-left: 30px; 
}

.login-btn:active {
    color: #aa11bb;
    border-color: #BC75E8;
    background-color: #2F394C;
    margin-left: 30px; 
}

.profile-btn {
    color: #BC75E8;
    border-color: #BC75E8;
    margin-left: 30px; 
}
.profile-btn:hover {
    color: #BC75E8;
    border-color: #BC75E8;
    background-color: #2F394C;
    margin-left: 30px; 
}

.shopcart-btn {
    margin-left: 30px;
    color: #BC75E8;
    border-color: #BC75E8;
}

.shopcart-btn:hover {
    color: #BC75E8;
    border-color: #BC75E8;
    background-color: #2F394C;
    margin-left: 30px; 
}

/* Disable profile and shopping cart buttons */
button:disabled{
    display: none;
}

.card-body {
    text-align: left;
    padding: 30px;
}
