{% extends 'base.html' %}

{% block head %}
    <title>
        Software Project
    </title>
   
   <!-- Custom styles for this template -->
   
   
{% endblock %}


{% block body %}

<body class="text-center">
    <div class="row">
        <div class="col-md-4 mx-auto"> 
            <form class="form-signin">
            
            <img class="mb-4" style="margin-top:20%" src="{{url_for('static', filename='assets/dumpster-fire-solid.svg')}}" alt="" width="72" height="72">
            
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign in
            </button>
            <p class="mt-5 mb-3 text-muted">
                &copy; 2020
            </p>
            </form>
        
        </div>
    </div>
</body>
{% endblock %}