<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link type="/text/css" href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='assets/main.css')}}>
    
    <!-- Tab logo favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='assets/dumpster-fire-solid.svg')}}" width="32" height="32">
    
    <title>
        Software Project
    </title>

    {% block head %}{% endblock %}
</head>

<body class="text-center">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{{ url_for('index') }}">piWASTE</a>
            <!-- Collapsing menu for smaller screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('products.products') }}">Products <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    </li>
                </ul>
                <!--
                <a href="/files/docs">
                    <button style="visibility: hidden;" type="submit"></button>
                </a>
                -->
                <a class="form-inline mt-2 cart-link mt-md-0" href="{{ url_for('shopping_cart.shopping_cart') }}">
                    <div class="my-2 my-sm-0" preserveAspectRatio="xMidYMid slice" focusable="false" id="shopcartButton">
                        <img src="{{url_for('static', filename='assets/shopping_cart.png')}}"  alt="No Image" width="50" height="50">
                        <title>Shopping Cart</title>
                        <rect width="100%" height="100%" fill="#eee"/>
                    </div> 
                </a>
                <a class="form-inline mt-2 mt-md-0" href="{{ url_for('profile.profile') }}">
                    <div class="my-2 my-sm-0" preserveAspectRatio="xMidYMid slice" focusable="false" id="profileButton">
                        <img src="{{url_for('static', filename='assets/profile.png')}}"  alt="No Image" width="50" height="50">
                        <title>Profile</title>
                        <rect width="100%" height="100%" fill="#eee"/>
                    </div> 
                </a>
                <a class="form-inline mt-2 mt-md-0" id="logInButtonLink" href="">
                    <button class="btn btn-outline-success my-2 my-sm-0" id="logInButton" type="submit"></button>
                </a>
            </div>
        </nav>
    </header>
  
    {% block body %}{% endblock %}
    
    <!-- Toggle login/logoff -->
    <script>
        
        // Cookie to dictionary
        split = document.cookie.split("; ");
        var cookie = {}
        for(var key in split) {
            attribute = split[key].split("=");
            cookie[attribute[0]] = attribute[1];                   
        }
        console.log(cookie);

        if (cookie['logged_in'] != 'True') {
            //Make Profile and shopcart buttons invisible
            $("#profileButton").prop('disabled', true);
            $("#shopcartButton").prop('disabled', true);

            // Toggle button to Login
            $("#logInButtonLink").attr("href", "{{ url_for('login.login') }}");
            $("#logInButton").addClass("login-btn").removeClass("logout-btn").text("Login");
        }
        else {
            //Make Profile and shopcart buttons visible
            $("#profileButton").removeClass("invisible");
            $("#shopcartButton").removeClass("invisible");

            // Toggle button to Logout
            $("#logInButtonLink").attr("href", "{{ url_for('login.logout') }}");
            $("#logInButton").addClass("logout-btn").removeClass("login-btn").text("Logout");
        }

    </script>
        
    <!-- Collapsing menu for smaller screens -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    
    {% block script %}{% endblock %}
    
</body>  

</html>