{% extends 'base.html' %}

{% block head %}
   
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='assets/main.css')}}>
     
{% endblock %}


{% block body %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to piWASTE!</h1>
        <p class="lead text-muted">This here could be some description about the website. Galapagosinpingviini (Spheniscus mendiculus) on Galápagossaarilla endeemisenä elävä pingviinilaji. Se on maailman pohjoisin pingviinilaji ja ainoa, joka joskus liikkuu pohjoiselle pallonpuoliskolle asti.</p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
    <h1 style="margin-bottom: 50px;">Featured products:</h1>
        <div class="row">
            <div class="card-deck md-4 text-center">
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script type=text/javascript>
    var raw = $(`
    <div class="col-lg-4 col-md-6 card-group">
        <div class="card md-4 box-shadow" style="width: 22rem;">
            <a class="product-link" href="">
                <div class="card-body">
                        <img class="card-img" src=""  alt="" width="250">                                
            </a>
                    <h2 class="card-title">Name</h2>
                    <h3 class="card-price">1.99€</h3>
                    <p class="card-description">Empty</p>
                </div>                
        </div>
    </div>`);
    
    fetch("../get_all_entrys/products").then(function(response){
        return response.json();
    }).then(function(json) {
        for(var i=0; i<json.length; i++) {
            let { id, name, price, description, image, stock } = json[i];
            // Create clone so old one donesn't get erased!
            card = raw.clone();
            
            // Append item to deck, find by class card-deck
            card.appendTo($(".card-deck"));
            
            if( (i%3) == 0) {
                // If first in a row append card-group (for same content length)
                $(".col-md-4").last().addClass("card-group");
            }
            
            // Insert values from DB
            $(".card-title").last().text(name);
            $(".card-price").last().text(price).append("€");
            $(".card-description").last().text(description); 
            $(".card-img").last().attr("src", 'assets/broken_teddy1.png');
            $(".card-img").last().attr("alt", "DADAA");

            var url = "product/".concat(id);
            $(".product-link").last().attr("href", url);

            
        };       

    });
</script>
{% endblock %}