{% extends 'base.html' %}

{% block head %}
   
   <!-- Custom styles for this template -->
     
{% endblock %}


{% block body %}

<html>
    <body>
        <img class="mb-4" style="margin-top:20%" src="{{url_for('static', filename='assets/dumpster-fire-solid.svg')}}" alt="" width="72" height="72">
        <div class="container">
            <h1>Please login</h1>
            <br>
            <form action="" method="post">
                <input type="text" class="form-control" placeholder="Username" name="username" required autofocus value="{{
                request.form.username }}">
                <input type="password" id="passwordInput" class="form-control" placeholder="Password" name="password" required value="{{
                request.form.password }}">
                <input type="checkbox" onclick="togglePasswordVisibility()">Show Password
                <button class="login-page-btn btn btn-lg btn-primary btn-block" type="submit">
                    Sign in
                </button>
                <hr>
                <a href="/register" class="text-decoration-none">Register</a>
                <p class="mt-5 mb-3 text-muted">
                    &copy; 2020
                </p>
            </form>
            <hr>

            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
        </div>
        <script>
            function togglePasswordVisibility() {
                var element = document.getElementById("passwordInput");
                if (element.type === "password") {
                    element.type = "text";
                } else {
                    element.type = "password";
                }
            }
        </script>
    </body>
</html>


{% endblock %}