{% extends 'base.html' %}

{% block head %}

   <!-- Custom styles for this template -->
      
{% endblock %}


{% block body %}

<div class="row">
    <div class="col-md-4 mx-auto"> 
        <h1 style="margin-top:20%"> 
            Empty
        </h1>
    </div>
</div>

{% endblock %}


{% block script %}
<script>
    fetch("../all_products").then(function(response){
        return response.json();
    }).then(function(json) {
    for(var i=0; i<json.length; i++) {
            let { name, price, description, image, stock } = json[i];
            console.log(json[i]);
        };       

    });
</script>
{% endblock %}