{% extends 'base.html' %}

{% block head %}

   <!-- Custom styles for this template -->
      
{% endblock %}


{% block body %}

<div class="container">
  <div class="main-body" style="padding-top: 5%;">
    <div class="row gutters-sm">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <h1 class="jumbotron-heading mx-auto">{{ name }}</h1>
              <!-- <h7 class="mb-0 mx-auto">{{ name }}</h7> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="main-body" style="padding-top: 1%;">
      <div class="row gutters-sm">
          <div class="col-md-6 mb-5">
              <div class="card">
                  <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                          <!-- <img src={{ image }} alt="Admin" width="250"> -->
                          <img src="{{url_for('static', filename='assets/broken_teddy1.png')}}"  alt="Admin" width="250">
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card mb-3">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Price</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{ price }}</div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-4">
                          <button type="button" class="btn btn-outline-dark">Add to Basket</button>
                        </div>
                        <div class="col-sm-2 text-secondary">
                          <div class="input-group mb-4">
                            <div class="input-group-prepend">
                              <button class="btn btn-outline-dark" type="button" onclick="removeCount()"><</button>
                              <input type="text" class="form-control col-sm-7 mx-auto" style="text-align:center"
                                id="countNumber" placeholder="" aria-label="" aria-describedby="basic-addon1" value=1>
                              <button class="btn btn-outline-dark" type="button" onclick="addCount()">></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Stock</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">{{ stock }}</div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Rating</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">AddRatingHere</div>
                      </div>
                  </div>               
              </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 mx-auto">
                            <h5 class="mb-0">Description</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 mx-auto">
                            <h6 class="mb-0">{{ description }}</6>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3">
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-3 mx-auto">
                          <h5 class="mb-0">Comments</h5>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4 mx-auto">
                      <div class="btn-toolbar mb-0" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                          <button type="button" class="btn btn-outline-dark">1</button>
                          <button type="button" class="btn btn-outline-dark">2</button>
                          <button type="button" class="btn btn-outline-dark">3</button>
                          <button type="button" class="btn btn-outline-dark">4</button>
                          <button type="button" class="btn btn-outline-dark">5</button> 
                        </div>
                      </div>
                    </div>
                   </div>
                   <hr>
                   <div class="row">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" aria-label="">
                    </div>
                   </div>           
               </div>
            </div>
        </div>
  </div>
</div>

<script>
  function addCount() {
      var element = document.getElementById("countNumber");
      if(element.value < {{ stock }} ) {
        element.value = parseInt(element.value)+ 1;
      }
  }
</script>

<script>
  function removeCount() {
      var element = document.getElementById("countNumber");
      if(element.value > 1) {
        element.value = parseInt(element.value) - 1;
      } 
  }
</script>


{% endblock %}

