{% extends 'base.html' %}

{% block head %}

   <!-- Custom styles for this template -->
      
{% endblock %}


{% block body %}

<div class="container">
    <div class="main-body" style="padding-top: 10%;">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{url_for('static', filename='assets/profile.png')}}" alt="No Image" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ name }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 profile-info">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">User name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ username }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ email }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ phone }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ address }}</div>
                        </div>
                    </div>
                </div>
                <a class="form-inline mt-2 mt-md-0 justify-content-center align-self-center" href="{{ url_for('profile.edit') }}">
                    <button class="btn btn-outline-dark edit-button" type="submit">Edit profile</button>
                </a>
            </div>
            <div class="card col-md-12 purchase_history">

            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}

<script>
    var raw = $(`
    <div class="row">
        <div class="col-sm-4">
            <h6 class="mb-0 buy-date"></h6>
        </div>
        <div class="col-sm-8 text-secondary items"></div>
        </div>
    <hr>`);

    fetch(`../get_purchase_history/${cookie.user_id}`).then(function(response){
        return response.json();
    }).then(function(json) {
        $(".purchase_history").append("<h4>Purchase history</h4><hr>");
        if (json.length == 0) {
            console.log("empty");
        } 
        for(var i=0; i<json.length; i++) {
            let { user_id, shopping_cart, timestamp } = json[i];
            time_split = timestamp.split(" ");
            console.log(json[i]);
            // JSON to dict
            var obj = JSON.parse(shopping_cart.replace(/'/g,"\""));

            // Create clone so old one doesn't get erased!
            card = raw.clone();

            // Append item to deck, find by class profile-info
            card.appendTo($(".purchase_history"));

            $(".buy-date").last().append(`${time_split[2]}. ${time_split[1]} ${time_split[4]}, ${time_split[3]}`);

            for(var key in obj){
                $(".items").last().append(`${key} (${obj[key][0]}) ${obj[key][1]}€ <br>`);
            }
        };

    });
</script>

{% endblock %}